# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
dist/
.vercel/
.vscode/

# Local env
.env*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db
